<!DOCTYPE HTML>
<html>
<head>
    <link href="../css/reset.css" rel="stylesheet" type="text/css" >
    <link rel="stylesheet" href="../css/toppage.css">
    <link href="https://fonts.googleapis.com/earlyaccess/kokoro.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Sawarabi+Mincho" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <meta charset="utf-8">
    <title>トップページ</title>
</head>

<body>

<header>
    <h1>
    株式会社ペガサス
    </h1>
    <div id="loginhakotira">
        <a href="log.php">ログインはこちら</a>
    </dv>
</header>

<main>
    <h2>在庫一覧</h2>
    <div class="stocks_list">
        <table>
            !stocks!
        </table>
    </div>
</main>
</body>
</html>
