body {
  font-family: "Sawarabi Mincho";
}
header {
  width: 100%;
  height: 100px;
  margin-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  font-family: Meiryo;
  background-color: gray;
  opacity: 1;
}
/* ログインはこちらについて */
#loginhakotira {
  display: flex;
  justify-content: right;
  font-family: "Kokoro";
  color: #333;
}

#loginhakotira:hover {
  text-decoration: underline;
  transition: 0.5s;
  color: #333;
}

main {
  margin-top: 140px;
}

#stocks {
  text-align: center;
  width: 100%;
  height: 100px;
}
/* 会社の名前*/
h1 {
  font-family: "Sawarabi Mincho";
  font-size: 36px;
}
/* 在庫一覧タイトル */
h2 {
  font-size: 26px;
  text-align: center;
  margin-bottom: 20px;
  color: gray;
  border-bottom-color: black;
}

/* 在庫一覧の表を整形 */

.stocks_list {
  display: flex;
  justify-content: center;
}

.stocks_list table {
  width: 50%;
  height: auto;
  border: 2px solid gray;
  display: flex;
  justify-content: center;
  padding: 20px;
}

tr {
  line-height: 2rem;
  border-bottom: 1px solid gray;
}

tr th:nth-child(1) {
  padding-right: 30px;
}

tr td:nth-child(1) {
  padding-right: 30px;
}

th,
td {
  padding: 10px;
  text-align: center;
}

i {
  font-size: 50px;
  display: inline-block;
  width: 50px;
  height: 50px;
  color: red;
  font-weight: bold;
}
