     <button id="stock_download_csv" onclick="location.href='../database/stock/output_csv.php'">
     <i class="fas fa-file-download"></i>
     </button>
    <table>
        <tr>
            <th>
                商品名
            </th>
            <th>
                在庫
            </th>
        </tr>
        !stock_rows!
    </table>


   